.container
{
    width: 10%;
}
.bg_interface {
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(64, 64, 64);
	position: absolute;
	left: 472px;
	top: 770px;
	width: 403px;
	height: 119px;
	z-index: 1;
}
  .nick_text {
	font-size: 18px;
	font-family: "TT Norms";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 0.1;
	text-align: center;
	position: absolute;
	left: 490px;
	top: 807px;
	width: 187px;
	height: 23px;
	z-index: 3;
  }
  
  .nick_img {
	background-image: url("nick_img.png");
	position: absolute;
	left: 495px;
	top: 795px;
	width: 21px;
	height: 21px;
	z-index: 2;
  }
  .money_text {
	font-size: 18px;
	font-family: "TT Norms";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 0.944;
	text-align: center;
	position: absolute;
	left: 500px;
	top: 824px;
	width: 88px;
	height: 29px;
	z-index: 4;

  }
 
  progress.styled {
	display: block;
	border-radius: 8px;
	width: 340px;
	height: 11px;
	z-index: 6;
	position: absolute;
	left: 497px;
	top: 849px;
  }

  progress.styled::-webkit-progress-bar {
      background-color: rgb(82, 82, 82);
      border-radius: 8px;
  }
  progress.styled::-webkit-progress-value {
      background-color: rgb(204, 62, 62);
      background-image: linear-gradient(rgb(204, 62, 62)), rgb(204, 62, 62));
      border-radius: 8px;
  }
  progress.styled::-moz-progress-bar {
      background-color: rgb(204, 62, 62);
      background-image: linear-gradient(rgb(204, 62, 62), rgb(204, 62, 62));
      border-radius: 8px;
  }

  progress.styled1 {
	display: block;
	border-radius: 8px;
	width: 340px;
	height: 11px;
	z-index: 6;
	position: absolute;
	left: 497px;
	top: 867px;
  }

  progress.styled1::-webkit-progress-bar {
      background-color: rgb(82, 82, 82);
      border-radius: 8px;
  }
  progress.styled1::-webkit-progress-value {
      background-color: rgb(53, 101, 233);
      background-image: linear-gradient(rgb(53, 101, 233)), rgb(53, 101, 233));
      border-radius: 8px;
  }
  progress.styled1::-moz-progress-bar {
      background-color: rgb(53, 101, 233);
      background-image: linear-gradient(rgb(53, 101, 233), rgb(53, 101, 233));
      border-radius: 8px;
  }

  .text_notification {
	font-size: 17px;
	font-family: "TT Norms";
	color: rgb(0, 144, 255);
	font-weight: bold;
	line-height: 0.944;
	text-align: center;
	position: absolute;
	left: 1230.39px;
	top: 330.573px;
	width: 340px;
	height: 17px;
	z-index: 3;
  }
  .bg_notification {
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(64, 64, 64);
	position: absolute;
	left: 1209px;
	top: 310px;
	width: 392px;
	height: 104px;
	z-index: 1;
  }
  .text_slide_notification {
	font-size: 17px;
	font-family: "TT Norms";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 0.944;
	text-align: center;
	position: absolute;
	left: 1230.39px;
	top: 360.933px;
	width: 307px;
	height: 18px;
	z-index: 4;
  }
  .bg_key {
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-radius: 5px;
	background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
	position: absolute;
	left: 1549px;
	top: 357px;
	width: 26px;
	height: 27px;
	z-index: 2;
  }
  .key_text {
	font-size: 20px;
	font-family: "TT Norms";
	color: rgb(0, 144, 255);
	font-weight: bold;
	line-height: 0.85;
	text-align: center;
	-moz-transform: matrix( 1.02493819658632,0,1.07034501209888e-14,1.02493819658632,0,0);
	-webkit-transform: matrix( 1.02493819658632,0,1.07034501209888e-14,1.02493819658632,0,0);
	-ms-transform: matrix( 1.02493819658632,0,1.07034501209888e-14,1.02493819658632,0,0);
	position: absolute;
	left: 1554.154px;
	top: 362.498px;
	width: 11.5px;
	height: 14px;
	z-index: 5;
  }
  progress.styled2 {
	display: block;
	border-radius: 8px;
	width: 340px;
	height: 8px;
	z-index: 6;
	position: absolute;
	left: 1235.39px;
	top: 395.933px;
  }

  progress.styled2::-webkit-progress-bar {
      background-color: rgb(82, 82, 82);
      border-radius: 8px;
  }
  progress.styled2::-webkit-progress-value {
      background-color: rgb(53, 101, 233);
      background-image: linear-gradient(rgb(53, 101, 233)), rgb(53, 101, 233));
      border-radius: 8px;
  }
  progress.styled2::-moz-progress-bar {
      background-color: rgb(53, 101, 233);
      background-image: linear-gradient(rgb(53, 101, 233), rgb(53, 101, 233));
      border-radius: 8px;
  }
  
  
  
  