body {
    margin: 0;
    padding: 0;
    background: transparent;
}

.hud-container {
    position: absolute;
    top: 10px;
    right: 10px; /* Изменил left на right */
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Уточните значение z-index */
}

#health-bar, #armor-bar {
    width: 100px;
    height: 20px;
    background-color: red;
    margin-bottom: 5px;
    border: 1px solid white; /* Обводка */
}

#armor-bar {
    background-color: blue;
}

#money-display {
    font-size: 16px;
    color: yellow;
}
