body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.registration-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.registration-form {
    background: url('path/to/your/image2.jpg') center/cover;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(206, 8, 8, 0.411);
    color: white;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}